.flex {
    display: flex;
}

.text-center {
    text-align: center;
}
body {
    max-width: 100%;
    width: 100% !important;
}

h1,h2,h3 {
    color: #404991;
    font-family: 'Work Sans';
}

h2 {
    font-size: 35px;
}

main {
    width: 1240px;
    margin: 0 auto;
}